html, body {
    height: 100%;
    background-color: #202124;
}

#body {
    display: flex;
    flex-direction: column;
    font-family: "ColfaxAI", Helvetica, sans-serif;
    background-color: #202124;
    color: #bdc1c6;
    padding: 16px;
    height: 100%;
    width: 100%;
    gap: 16px;
}

.header {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 900;
    border: 1px solid black;
    box-shadow: 2px 4px 16px black;
    border-radius: 8px;
}

.content {
    flex: 1;
    display: flex;
    gap: 16px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
    padding: 16px;
    border: 1px solid black;
    box-shadow: 2px 4px 16px black;
    border-radius: 16px;
    transition: width 0.5s ease;
    /* border: 1px solid red; */
}

.sidebar.hidden {
    width: 0;
}

.sidebar.show {
    display: block !important;
}

.sidebar-content {
    overflow: hidden;
    white-space: nowrap;
}

.menu-button {
    display: none;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

@media (max-width:720px) {
    .sidebar {
      width: 2rem;
      height: 2rem;
    }
    /* .sidebar-content {
      display: none;
    } */
    .menu-button {
      display: block;
    }
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

.block-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 32px;
    border: 1px solid black;
    box-shadow: 2px 4px 16px black;
    border-radius: 16px;
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: #87CEFA;
}

a {
    font-size: 2em;
    color: #bdc1c6;
    text-decoration: none;
}


/* add some formatting to the table class below */

/* ^^ */