html, body {
    height: 100%;
    background-color: #202124;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
}

#body {
    display: flex;
    flex-direction: column;
    font-family: "ColfaxAI", Helvetica, sans-serif;
    background-color: #202124;
    color: #bdc1c6;
    padding: 16px;
    height: 100%;
    width: 100%;
    gap: 16px;
}

.header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 8px 16px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 900;
    margin-left: 10px;
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    /* box-shadow: 2px 4px 16px black; */
    /* border-radius: 8px; */
}

.user-header {
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    gap: 16px;
}

.content {
    flex: 1;
    display: flex;
    gap: 16px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 250px;
    overflow: hidden;
    padding: 16px;
    /* border: 1px solid black; */
    border-right: 1px solid black;
    /* box-shadow: 2px 4px 16px black; */
    /* border-radius: 16px; */
    transition: width 0.5s ease;
    /* border: 1px solid red; */
}

.sidebar.hidden {
    width: 0;
}

.sidebar.show {
    display: block !important;
    z-index: 10;
    position: absolute;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #202124;
}

.sidebar.show .sidebar-content {
    margin-top: 24px;
}

.sidebar-content {
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
}

.menu-button {
    display: none;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    color: black;
}

@media (max-width:720px) {
    .sidebar {
      width: 3rem;
      height: 3rem;
    }
    /* .sidebar-content {
      display: none;
    } */
    .menu-button {
      display: block;
    }
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

.block-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 32px;
    /* border: 1px solid black; */
    /* box-shadow: 2px 4px 16px black; */
    /* border-radius: 16px; */
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: #87CEFA;
}

a {
    font-size: 2em;
    color: #bdc1c6;
    text-decoration: none;
}

table {
    font-size: 8px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.checkbox {
    margin: 2px;
}

.field {
    margin-bottom: 20px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    align-self: center;
}
