#body {
    display: flex;
    flex-direction: column;
    font-family: "ColfaxAI", Helvetica, sans-serif;
    background-color: #202124;
    color: #bdc1c6;
    padding: 16px;
    min-height: 100vh;
    gap: 16px;
}

.header {
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 900;
    border: 1px solid black;
    box-shadow: 2px 4px 16px black;
    border-radius: 8px;
}

.content {
    flex: 1;
    display: flex;
    gap: 16px;
}

.sidebar {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    flex-shrink: 0;
    padding: 16px;
    border: 1px solid black;
    box-shadow: 2px 4px 16px black;
    border-radius: 16px;
    /* border: 1px solid red; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 8px;
}

.block-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 32px;
    border: 1px solid black;
    box-shadow: 2px 4px 16px black;
    border-radius: 16px;
}

.message {
    padding: 10px;
    margin: 5px;
    background-color: #87CEFA;
}

a {
    font-size: 2em;
    color: #bdc1c6;
    text-decoration: none;
}

#snowflakesContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100000;
  }

.snowflake {
    position: absolute;
    top: -100px;
    left: -50px;
    width: 50px;
    height: 50px;
    background-image: url(snowflake.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation: snowflake 10s linear infinite;
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 50%;
}

@keyframes snowflake {
    0% {
        top: 0;
        transform: rotate(0deg) translateY(0%) translateX(0%);
    }
    100% {
        top: 90%;
        transform: rotate(360deg) translateY(100%) translateX(0%);
    }
}

