<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        HEADER
    </div>
    <div class="content">
        <div class="sidebar">
            <header>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('home_page') }}">Home</a></li>
                        <li><a href="{{ url_for('participants_page') }}">Participants</a></li>
                        <li><a href="{{ url_for('couples_page') }}">Couples</a></li>
                        <li><a href="{{ url_for('participant_add_page') }}">Add Participant</a></li>
                        <li><a href="{{ url_for('couple_add_page') }}">Add Couple</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="block-content">
            {% block content %}{% endblock %}
            
        </div>
    </div>
</body>
</html>
