<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home_page') }}">Home</a>
            <a href="{{ url_for('participants_page') }}">Participants</a>
            <a href="{{ url_for('participant_add_page')}}">Add Participant</a>
            <a href="#">Link to nothing</a>
        </nav>
    </header>
    <hr>
    <div class="content">
        {% block content %}{% endblock %}
        
    </div>
</body>
</html>
