{% extends 'base.html' %}
{% block title %}Couples{% endblock %}
{% block content %}
    <h1 class="title">Couples</h1>

    {% if couples %}
    <table class="table is-striped is-fullwidth">
        {% for couple_key, couple in couples %}
        <tr>
            <td>
            <a href="{{ url_for('couple_page', couple_key=couple_key) }}">
                {{ couple.partner_one }}
                {{ couple.partner_two }}
            </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


{% endblock %}