{% extends "base.html" %}
{% block title %}Edit Couples{% endblock %}
{% block content %}
    <h1 class="title">Add Couples</h1>

    <form class="edit-page-form-margin" method="post" name="couples_edit">
      {{ form.csrf_token }}

      <div class="field">
        <label for="partner_one" class="label">Partner One</label>
        <div class="control">
          {{ form.partner_one(required=True, autofocus=True, class='input') }}
        </div>

        {% for error in form.partner_one.errors %}
        <p class="help has-background-warning">
          {{ error }}
        </p>
        {% endfor %}
      </div>

      <div class="field">
        <label for="partner_two" class="label">Partner Two</label>
        <div class="control">
          {{ form.partner_two(class='input') }}
        </div>

        {% for error in form.partner_two.errors %}
        <p class="help has-background-warning">
          {{ error }}
        </p>
        {% endfor %}

      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>

    
{% endblock %}