{% extends 'base.html' %}
{% block title %}Couples{% endblock %}
{% block content %}
    <h1 class="title">Couples</h1>

    {% if couples %}
    <form action="" method="post" name="couple_list">
        <table class="table is-striped is-fullwidth">
            {% for couple_key, couple in couples %}
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="coupleKeys" value="{{ couple_key }}"/>
                    </label>
                    <a href="{{ url_for('couple_page', couple_key=couple_key) }}">
                        {{ couple.partner_one }}
                        {{ couple.partner_two }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-danger is-small">Delete</button>
            </div>
        </div>
    </form>
    {% endif %}


{% endblock %}