{% extends "base.html" %}
{% block title %}Confirm{% endblock %}
{% block content %}
    <h1 class="title">Confirm</h1>

    <div>
        Send Email?
    </div>

    {% if assignments %}
    <form action="" method="post" name="assignment_list">
        <table class="table is-striped is-fullwidth">
            {% for assignment_key, assignment in assignments %}
                <label>
                    <input type="hidden" name="assignmentKeys" value="{{ assignment_key }}"/>
                    {{ assignment.name1 }}
                    {{ assignment.name2 }}
                </label>
            {% endfor %}
        </table>
        
        <a href="{{ url_for('email_sent_page', assignments=assignments) }}">Yes</a>
    </form>
    {% endif %}

{% endblock %}