{% extends 'base.html' %}
{% block title %}Gift Exchange{% endblock %}
{% block content %}

    <div class="home">
        <h1 class="title">Gift Exchange</h1>
        <p>Only {{ days }} days until Christmas!</p>

        <p>
            Welcome to the free gift exchange automator.
            To get started, click on the <b>Add Participants</b>
            tab and input the names and emails of everyone
            participating in your gift exchange. If desired,
            couples can be specified on the <b>Add Couples</b>
            tab to prevent them from being assigned to 
            each other.
        </p>

        <p>
            When you're finished, click <b>Notify Participants</b>
            to send out an automated email letting each
            participant know who to get a gift for.
            It's as simple as that, happy gifting!
        </p>

        <p>
            <span class="image fit"><img src="{{ url_for('static', filename='images/tree.png') }}" alt="Happy gifting!"/></span>
        </p>
    </div>

{% endblock %}