{% extends "base.html" %}
{% block title %}Participant{% endblock %}
{% block content %}
    <h1 class="title">Participant</h1>

    <table class="table">
      <tr>
        <th>Participant Name:</th>
        <td>{{ participant.participant }}</td>
      </tr>
      {% if participant.email %}
      <tr>
        <th>Email:</th>
        <td>{{ participant.email }}</td>
      </tr>
      {% endif %}
    </table>

    <div class="field is-grouped">
      <div class="control">
        <a class="button is-primary is-outlined is-small"
          href="{{ request.path }}/edit">Edit</a>
        <a class="button is-primary is-outlined is-small"
          href="{{ url_for('participant_add_page') }}">Add More Participants</a>
      </div>
    </div>
    
{% endblock %}