{% extends 'base.html' %}
{% block title %}Participants{% endblock %}
{% block content %}
    <h1 class="title">Participants</h1>
    {% if participants %}
    <table class="table is-striped is-fullwidth">
        {% for participant_key, participant in participants %}
        <tr>
            <td>
            <a href="{{ url_for('participant_page', participant_key=participant_key) }}">
                {{ participant.participant }}
                {% if participant.email %} ({{ participant.email }}) {% endif %}
            </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Draw!</button>
        </div>
    </div>


    <form action="">
        <div class="field">
            <div class="control">
              <input type="submit" value="button!"/>
            </div>
        </div>
        
    </form>


    <div class="assignments">
        {% if assignments %} 
            {{ assignments }}
        {% endif %}
    </div>

{% endblock %}