{% extends 'base.html' %}
{% block title %}Participants{% endblock %}
{% block content %}
    <h1 class="title">Participants</h1>
    {% if participants %}
    <table class="table is-striped is-fullwidth">
        {% for participant_key, participant in participants %}
        <tr>
            <td>
            <a href="{{ url_for('participant_page', participant_key=participant_key) }}">
                {{ participant.participant }}
                {% if participant.email %} ({{ participant.email }}) {% endif %}
            </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if couples %}
    <table class="table is-striped is-fullwidth">
        {% for couple_key, couple in couples %}
        <tr>
            <td>
            <a href="{{ url_for('couple_page', couple_key=couple_key) }}">
                {{ couple.partner_one }}
                {{ couple.partner_two }}
            </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="">
        <div class="field">
            <div class="control">
              <input type="submit" value="button!"/>
            </div>
        </div>
        
    </form>


    <div class="assignments">
        <p>Assignments are shown for testing purposes only. Remove for v1</p>
        {% if assignments %}
        <table class="table is-striped is-fullwidth">
            {% for assignment_key, assignment in assignments %}
            <tr>
                <td>
                    {{ assignment.name1 }}
                    {{ assignment.name2 }}
                </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

{% endblock %}